<div class="qresult">
  <% @questions.each do |question| %>
    <div class="media">
      <div class="media-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>質問</td>
                <td><%=question.question_text %></td>
              </tr>
              <% if logged_in? %>
                <tr>
                  <td>回答</td>
                    <td>
                    <%= form_with(model: @question, local: true,method: :patch) do |f| %>

                      <%= f.text_area :answer_text, class: 'form-control',value:question.answer_text %>
                      <%= f.hidden_field :circle_id, :value=> @circle_id %>
                      <%= f.hidden_field :question_text, :value=> question.question_text %>
                      <%= f.hidden_field :id, :value=> question.id %>
                  
                    <%= f.submit "回答する", class: "btn btn-primary" %>
                    </td>
                  </tr>
                <% end %>
              <% else%>
                <tr>
                  <td>回答</td>
                  <td><%=question.answer_text %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <% end %>
</div>