<div class="form_result">
  <small>検索ヒット件数:<%=circles.count%>件</small>
  <% @circles.each do |circle| %>
    <div class="media">
        <a class="media-left media-top" href="#">
          <img src="/assets/<%=circle.name %>.jpeg" height="150" width="150" >
        </a>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to circle.name, circle %></h4>
        
          <table class="table table-bordered table-dark">
            <tbody>
              <tr>
                <td>ジャンル</td>
                <td><%=circle.genre.name %></td>
              </tr>
              <tr>
                <td>活動場所</td>
                <td><%=circle.place %></td>
              </tr>
              <tr>
                <td>サークル紹介文</td>
                <td><%=circle.introduction%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>
</div>